<li>
  <h4 class="name"><%= treatment.name %> (<%= treatment.courses %> courses)</h4>
  <span class="min_age"><%= treatment.min_weeks %> week minimum age</span><br />
  <% if treatment.reminders %>
    <span class="reminders reminders_true">Sending email reminders.</span><br />
  <% else %>
    <span class="reminders reminders_false">No reminders.</span><br />
  <% end %>
  <% if treatment.courses > 1 %>
    <span class="spacing">Given every
      <span class="min_spacing"><%= treatment.min_spacing_weeks %></span> to
      <span class="max_spacing"><%= treatment.max_spacing_weeks %></span>
      weeks</span><br />
  <% end %>
  <span class="notes"><span class="notes_label">Notes:</span>
    <%= treatment.notes %>
  </span>
</li>
