<%= link_to 'Back to cats', cats_path %>

<div>
  <strong>Name:</strong>
  <%= @cat.name %>
</div>

<div>
  <strong>Image:</strong>
  <%= @cat.image %>
</div>

<div>
  <strong>Sex:</strong>
  <%= @cat.sex %>
</div>

<div>
  <strong>Current Foster:</strong>
  <%= @cat.curr_foster %>
</div>

<div>
  <strong>Contact:</strong>
  <%= @cat.contact %>
</div>

<div>
  <strong>Availability:</strong>
  <%= @cat.availability %>
</div>

<div>
  <strong>Date Fostered:</strong>
  <%= @cat.date_fostered %>
</div>

<div>
  <strong>Birthdate:</strong>
  <%= @cat.birthdate %>
</div>

<div>
  <strong>Date Adopted:</strong>
  <%= @cat.date_adopted %>
</div>

<div>
  <strong>Paper Location:</strong>
  <%= @cat.paper_location %>
</div>

<div>
  <strong>Notes:</strong>
  <%= @cat.notes %>
</div>

<div>
  <strong>Rescue ID:</strong>
  <%= @cat.rescue_id %>
</div>

<%= link_to 'Back to cats', cats_path %>